body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #000021;
  overflow: hidden;
}

.App {
  width: 300%;
  min-height: 100vh;
}
#earth {
  position: absolute;
  display: block;
  width: 280px;
  top: 240px;
  left: 50%;
  transform: translateX(-50%);
}
#mars {
  display: block;
  position: absolute;
  width: 280px;
  top: 240px;
  left: 250%;
  transform: translateX(-50%);
}

.rocket {
  position: absolute;
  display: block;
  left: 50%;
  top: 170px;
}
#rocket-body {
  display: block;
  position: absolute;
  height: 80px;
  transform: translateX(-50%);
}

.rocket::before {
  position: absolute;
  display: block;
  width: 40px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(0, 0, 30, 0.15);
  top: 70px;
  transform: translateX(-50%);
  content: "";
}

#flame {
  display: none;
  position: absolute;
  height: 60px;
  top: 70px;
  transform: translateX(-50%);
}
