@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #000021;
  overflow: hidden;
}

.App {
  width: 300%;
  min-height: 100vh;
}
h1 {
  position: absolute;
  font-family: "Luckiest Guy", cursive;
  text-align: center;
  font-size: 3rem;
  color: violet;
  -webkit-text-stroke: 3px #efefef;
  left: 50%;
  transform: translateX(-50%);
}
button {
  position: absolute;
  background-color: transparent;
  color: violet;
  border: 2px solid violet;
  padding: 10px 15px;
  border-radius: 30px;
  top: 540px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

#earth {
  position: absolute;
  display: block;
  width: 280px;
  top: 220px;
  left: 50%;
  transform: translateX(-50%);
}
#mars {
  display: block;
  position: absolute;
  width: 280px;
  top: 220px;
  left: 250%;
  transform: translateX(-50%);
}

.rocket {
  position: absolute;
  display: block;
  left: 50%;
  top: 150px;
}
#rocket-body {
  display: block;
  position: absolute;
  height: 80px;
  transform: translateX(-50%);
}

.rocket::before {
  position: absolute;
  display: block;
  width: 40px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(0, 0, 30, 0.15);
  top: 70px;
  transform: translateX(-50%);
  content: "";
}

#flame {
  visibility: hidden;
  position: absolute;
  height: 0;
  top: 70px;
  transform: translateX(-50%);
}
